@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--color-black);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #000;
  }
}

@font-face {
  font-family: 'NeueHaasUnica';
  src: url('/NeueHaasUnica-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'NeueHaasUnica', Arial, Helvetica, sans-serif;
}

